<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>TO DO LIST</title>
    <link rel="stylesheet" href="/css/s.css">
  </head>
  <body>
 <div class="box" id="heading">
  <h1> <%= user%></h1>
 </div>

<div class="box">

     <div class="last-child">
      <form class="" action="/" method="post">
        <input type="text" name="newItem" placeholder="Add Item" autocomplete="off">
         <button type="submit" name=button value="<%=user%>" >+</button>
      </form>
    </div>
</div>
</body>
</html>
